# Set these in your platform dashboard ONLY. Never commit real values.

REDX_PRIVATE_REPO_TOKEN=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
PRIVATE_REPO_OWNER=Rdx690
PRIVATE_REPO_NAME=redxmini
PRIVATE_REPO_BRANCH=main

OWNER_NUMBER=916909950582
OWNER_NAME=SOURAJIT VFX 
BOT_NAME=RED X MINI
PREFIX=.
BOT_MODE=public
ADMIN_USERNAME=ADMIN
ADMIN_PASSWORD=ADMIN123

MONGO_URL=mongodb+srv://sourajitsarkar59_db_user:cet5FWTpGpRhJvaq@cluster0.yyjvv3l.mongodb.net/?appName=Cluster0
SUPABASE_URL=https://izubpsegzxfvttnlibt.supabase.co
SUPABASE_ANON_KEY=sb_publishable_QD5Qhx0KagT824_FWnemmQ_2CdyGaGQ
SUPABASE_SERVICE_KEY=sb_secret_4atsI7hC5zA0S5cUAjgEbg_cXzytYll
NEWSLETTER_JID=120363426913092837@newsletter
PORT=3000
